.List {

	border:1px;
	
	background-color: #ffffff;
	border-style:solid;
	border-color: #f2f2f2;
	
	padding:20px;
	font-style:bold;

}





.info-message{

	color:red;

}

.Button-Area {

	margin-top:20px;
	margin-bottom: 20px;

}

div {

	display:block
}

body{
	font-family: verdana;
	font-size: 16px;
	/*
	background-image: url("images/Idea.jpg");
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	*/
	
}

section, article{
	margin-top:5px;
}

.header-text {
	font-style: bold;
	margin-left:20px;
	text-align: center;
	font-size:30px;
	font-family: verdana;
}
button {
	width:15%;
}

.Pointers-odd {

	border:1px;	
	background-color:#CACFD2 ;
	border-style:solid;
	border-color: #ffffff;
	
	padding:20px;
	margin-top:5px;
	font-style:bold;

}
.Pointers-even {

	border:1px;	
	background-color:#ECF0F1 ;
	border-style:solid;
	border-color: #ffffff;
	
	padding:20px;
	margin-top:5px;
	font-style:bold;

}